 <head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<h1>Command Line</h1>
<hr />
<a href="/command_line/cp"><h3>Copy - cp - cp path/to/file path/to/destination</h3></a>
<a href="/command_line/mv"><h3>Move - mv - mv path/to/file path/to/destination</h3>
<a href="/command_line/mkdir"><h3>Make directory - mkdir - mkdir path/name/of/directory/</h3>
<a href="/command_line/ls"><h3>List objects in directory - ls - ls</h3></a>
<a href="/command_line/touch"><h3>Make file - touch - touch (file name and desired extension)</h3>
<a href= "/">Home</a>
