 <head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<h1>Sublime Shortcuts</h1>
<hr />

<table>
  <thead>  
    <tr>
      <th>Key Press</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>⌘ + X     ==</td>
      <td>Cut line</td>
    </tr>
    <tr>
      <td>⌘ + ↩     ==</td>
      <td>Insert line after</td>
    </tr>
    <tr>
      <td>⌘ + ⇧ + ↩ ==</td>
      <td>Insert line before</td>
    </tr>
  </tbody>
</table>
<a href= "/">Home</a>